<div id="main">

</div>

<div class="modal">
  <span class="modal-message"></span>
  <span class="modal-image"></span>
</div>
  <div class="modal-screen"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1633088073573952',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<script>
  $(document).ajaxStart(function() {
    $("body").addClass("loading");
    var counter = 0;
    spinModal = setInterval(function() {
        var frames=30; var frameWidth = 128;
        var offset=counter * -frameWidth;
        document.getElementById("spinner").style.backgroundPosition=
            offset + "px" + " " + 0 + "px";
        counter++; if (counter>=frames) counter = 0;
    }, 100);
  });
  
  $(document).ajaxStop(function() {
    $("body").removeClass("loading");
    clearInterval(spinModal);
  });

  $(document).ready(function(){
    NYC.initialize();
  });
</script>
