<div id="main">

</div>

<div class="modal"></div>
<div class="modal-screen"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1633088073573952',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<script>
  $(document).ready(function(){
    NYC.initialize();
  });
</script>
