<h2>Plan Details</h2>
<form class="detail-plan-form">
  <label>Name the Plan<aside>*</aside>
    <input type="text" name="name" value="">
  </label>
  <label>Start Time<aside>*</aside>
    <input type="datetime-local" name="time" value="">
  </label>
</form>
