<form class="detail-plan-form">
  <label class="group">
    What's The Plan?<aside>*</aside>
  </label>
    <input type="text" name="name" value="">
  <label>
    When?<aside>*</aside>
  </label>
    <input type="datetime-local" name="time" value="">
</form>
