<h2 class="header header-text">Let's Get Some Details!</h2>
<form class="filter-restaurant-form">
  <label for="location" class="text-input-label location">
    Where?<aside>*</aside>
  </label>
  <input type="text" id="location" name="location" value="" placeholder="e.g. 'Hell's Kitchen' or 'New York City'" class="text-input-input location">

  <label for="location" class="text-input-label location">
    What Are You in the Mood For?
  </label>

  <input type="checkbox" name="categories[]" value="mideastern" id="mideastern" class="friend-checkbox">
  <label for="mideastern" class="friend">
    <span></span>Middle Eastern
  </label>

  <input type="checkbox" name="categories[]" value="french" id="french" class="friend-checkbox">
  <label for="french" class="friend">
    <span></span>French
  </label>

  <input type="checkbox" name="categories[]" value="italian" id="italian" class="friend-checkbox">
  <label for="italian" class="friend">
    <span></span>Italian
  </label>

</form>
