<h2>Filter Restaurants</h2>
<form class="filter-restaurant-form">
  <label>
    Location (Neighborhood or City)
    <input type="text" name="location" value="">
  </label>
  <label>Middle Eastern
    <input type="checkbox" value="mideastern" name="categories[]" />
  </label>

  <label>French
    <input type="checkbox" value="french" name="categories[]" />
  </label>

  <label>Italian
    <input type="checkbox" value="italian" name="categories[]" />
  </label>
</form>
