<h2 class="header header-text">Let's Get Some Details!</h2>
<form class="filter-restaurant-form">
  <label for="location" class="text-input-label location">
    Where?<aside>*</aside>
  </label>
  <input type="text" id="location" name="location" value="" placeholder="e.g. 'Hell's Kitchen' or 'New York City'" class="text-input-input location">

  <label for="location" class="text-input-label location">
    What Are You in the Mood For?
  </label>

  <input type="checkbox" name="categories[]" value="mideastern" id="mideastern" class="friend-checkbox">
  <label for="mideastern" class="friend">
    <span></span>Middle Eastern
  </label>

  <input type="checkbox" name="categories[]" value="french" id="french" class="friend-checkbox">
  <label for="french" class="friend">
    <span></span>French
  </label>

  <input type="checkbox" name="categories[]" value="italian" id="italian" class="friend-checkbox">
  <label for="italian" class="friend">
    <span></span>Italian
  </label>

  <input type="checkbox" name="categories[]" value="tradamerican" id="american" class="friend-checkbox">
  <label for="american" class="friend">
    <span></span>American
  </label>

  <input type="checkbox" name="categories[]" value="asianfusion" id="asianfusion" class="friend-checkbox">
  <label for="asianfusion" class="friend">
    <span></span>Asian Fusion
  </label>

  <input type="checkbox" name="categories[]" value="bbq" id="bbq" class="friend-checkbox">
  <label for="bbq" class="friend">
    <span></span>BBQ
  </label>

  <input type="checkbox" name="categories[]" value="cafes" id="cafes" class="friend-checkbox">
  <label for="cafes" class="friend">
    <span></span>Cafe
  </label>

  <input type="checkbox" name="categories[]" value="chinese" id="chinese" class="friend-checkbox">
  <label for="chinese" class="friend">
    <span></span>Chinese
  </label>

  <input type="checkbox" name="categories[]" value="indpak" id="indian" class="friend-checkbox">
  <label for="indian" class="friend">
    <span></span>Indian
  </label>

  <input type="checkbox" name="categories[]" value="japanese" id="japanese" class="friend-checkbox">
  <label for="japanese" class="friend">
    <span></span>Japanese
  </label>

  <input type="checkbox" name="categories[]" value="mediterranean" id="mediterranean" class="friend-checkbox">
  <label for="mediterranean" class="friend">
    <span></span>Mediterranean
  </label>

  <input type="checkbox" name="categories[]" value="mexican" id="mexican" class="friend-checkbox">
  <label for="mexican" class="friend">
    <span></span>Mexican
  </label>

  <input type="checkbox" name="categories[]" value="thai" id="thai" class="friend-checkbox">
  <label for="thai" class="friend">
    <span></span>Thai
  </label>

  <input type="checkbox" name="categories[]" value="vegetarian" id="vegetarian" class="friend-checkbox">
  <label for="vegetarian" class="friend">
    <span></span>Vegetarian
  </label>

  <input type="checkbox" name="categories[]" value="vegan" id="vegan" class="friend-checkbox">
  <label for="vegan" class="friend">
    <span></span>Vegan
  </label>

</form>
