<h2 class="header header-text">Who's Going?</h2>
<form class="invite-friends-form group">
  <% users.each(function(user) { %>
    <input type="checkbox" name="friends[]" value="<%= user.escape("name") %>" id="friend-<%= user.id %>" class="friend-checkbox">
    <label for="friend-<%= user.id %>" class="friend">
      <span></span><%= user.escape("name") %>
    </label>
  <% }) %>

</form>
