<h2>Invite Friends</h2>
<form class="invite-friends-form">
  <% users.each(function(user) { %>
    <label><%= user.escape("name") %>
      <input type="checkbox" name="friend_ids[]" value="<%= user.id %>">
    </label>
  <% }) %>

</form>
