<div class="modal-internal">
  <span class="modal-message">Yay! You have a match. You both want to eat at <%= match.escape("restaurant_name") %></span>
  <figure class="modal-image">
    <img src="<%= match.get("restaurant_img") %>" alt="" />
  </figure>
</div>
