<header class="header">
  <a href="/auth/facebook" class="facebook-login">Facebook</a>
  <h1 class="header-text">No <strong>You</strong> Choose</h1>
</header>

<div class="detail-plan"></div>

<div class="invite-friends"></div>

<div class="filter-restaurants"></div>

<button class="make-plan" id="make-plan">Make A Plan!</button>
