<h1>CREATE A NEW PLAN</h1>

<h2>Plan Info</h2>
<p>
  TO DO: name, time
</p>

<h2>Who's Invited?</h2>
<p>
  TO DO
</p>

<h2>Filter Restaurants</h2>
<form>
  <label>
    Location (Neighborhood or City)
    <input type="text" name="location" value="">
  </label>
  <label>Middle Eastern
    <input type="checkbox" value="mideastern" name="categories[]" />
  </label>

  <label>French
    <input type="checkbox" value="french" name="categories[]" />
  </label>

  <label>Italian
    <input type="checkbox" value="italian" name="categories[]" />
  </label>

  <button class="filter">Filter</button>
</form>
