<h1 class="header header-text"> <%= plan.escape("name") %> </h1>

<div class="invited-friends">
<ul class="invitees">
  <% this.model.users().each(function(user) { %>
    <li class="invitee">
      <%= user.escape("name") %>
    </li>
  <% }) %>
</ul>
</div>

<ul class="invited"></ul>
<ul class="pending-restaurants"></ul>
