<h1>Welcome to <span class="logo">No <i>You</i> Choose</span>!</h1>
<h2><b>The</b> way to make restaurant plans with your friends</h2>
<p>
  without losing them or starting to hate them.
</p>
<h2>Log in or Sign Up with Facebook</h2>
<a href="/auth/facebook" class="facebook-login">Facebook</a>
