/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, ul, li, form, input, h1, h2, button {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  background: transparent;

}

.group:after {
  content: "";
  display: block;
  clear: both;
}


body {
  background: black;
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

#main {
  width: 600px;
  background: white;
  margin: auto;
  border-radius: 0 0 20px 20px;
}

/*
COLORS

blue: #00adef
red: #d72335
grey: #e4e5e6
purple: #a24664

*/

.header {
  background: #d72335;
  padding: 10px 0;
}

.header-text {
  color: white;
  font-size: 36px;
  text-align: center;
  font-weight: 100;
}

.header h1 > strong {
  font-weight: 400;
  font-style: italic;
}

.detail-plan-form {
  padding: 10px 20px;
}

.detail-plan-form label, .filter-restaurant-form .text-input-label {
  display: block;
  font-size: 24px;
  padding: 10px 0;
}

.detail-plan-form label > aside, .filter-restaurant-form .text-input-label > aside {
  display: inline;
  color: #d72335;
  padding-left: 5px;

}

.detail-plan-form input, .filter-restaurant-form .text-input-input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  background: #e4e5e6;
  font-size: 18px;
}

.detail-plan-form input:last-child {
  margin-bottom: 10px;
}

.friend-checkbox {
  display: none;
}


.friend-checkbox + label {
  background: #e4e5e6;
  float: right;
  display: block;
  padding: 15px 0 15px 80px;
  width: calc(100% - 80px);
  position: relative;
  font-size: 18px;
  border-bottom: 1px solid black;
  transition: padding 1s, background 1s, width 1s, color 1s;
}

.friend-checkbox:checked + label {
  background: #00adef;
  padding-left: 150px;
  width: calc(100% - 150px);
  color: white;
}

.friend > span {
  background: white;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 12px;
  left: 20px;
  transition: background 1s;
}


.friend-checkbox:checked + label > span {
  background: transparent;
}

.invite-friend {
  background: #e4e5e6;
  float: right;
  display: block;
  padding: 15px 0 15px 20px;
  width: calc(100% - 20px);
  position: relative;
  font-size: 18px;
  cursor: pointer;
}

.filter-restaurant-form > .text-input-label {
  padding: 10px 20px;
}

.filter-restaurant-form > .text-input-input {
  margin: 0 20px 20px 20px;
  width: calc(100% - 80px)
}

.make-plan {
  width: 100%;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  background: #d72335;
  color: white;
  font-size: 48px;
  letter-spacing: 5px;
  font-weight: 400;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 10px solid #961d2e;
  text-transform: uppercase;
}

.make-plan:hover {
  background: #f16524;
  border-bottom: 10px solid #aa451d;
}

.make-plan:active {

}

.plan-show > h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.invited-friends {
  text-align: center;
  background: #d72335;
  color: white;
  font-weight: 100;
  padding: 20px;
  padding-top: 0px;
}

.restaurant-show {
  background: white;
  height: 500px;
  width: 600px;
}

.restaurant-stats {
  padding-top: 10px;
}

.restaurant-show > h1 {
  font-size: 30px;
}

.restaurant-picture {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid black;
}

.restaurant-details {
  float: left;
  padding: 20px 20px 10px 20px;
  width: 360px;
}


.swipe-right, .swipe-left {
  padding: 3px;
  float: left;
  width: 100px;
  height: 100%;
  background: #e4e5e6;
}

.swipe-right:hover, .swipe-left:hover {
  background: #00adef;
}

.pending-restaurants {
  position: relative;
}

.restaurant-title {
  text-align: center;
}

.restaurant-stats li:first-child {
  font-size: 27px;
}

.restaurant-stats li {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.facebook-login {
  float: left;
  margin-left: 10px;
  background-image: image-url("facebook.svg");
  background-position: 0 0;
  background-size: 40px 120px;
  background-repeat: no-repeat;
  cursor: pointer;

  width: 40px;
  height: 0;
  padding-top: 40px;
  overflow: hidden;
}

.facebook-login:hover {
  background-position: 0 -40px;
}

.profile-picture {
  width: 40px;
  height: auto;
  float: right;
  margin-right: 10px;
  border-radius: 3px;
}

.modal {
  display: none;
  position: absolute;
  padding: 40px;
  background: white;
  width: 300px;
  height: 300px;
  top: 100px;
  left: calc(50% - 150px);
  margin: auto;
  z-index: 4;
  border: 3px solid #d72335;
  border-radius: 30px;
}

.modal-message {
  font-size: 36px;
  text-align: center;
}

.modal-screen {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100,100,100,.5);
  z-index: 2;
}

.modal.is-open, .modal-screen.is-open {
  display: block;
}

.login-page {
  background: white;
  width: 100%;
  height: 100%;
  text-align: center;
  h1 {
    font-size: 36px;
    .logo {
      color: #d72335;
      font-weight: 300;
    }
  }
}
